{% extends 'blog/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="first-col col">
    <div class="post-container">
      <h2 class="index-title">{{ post.title }}</h2>
      {% if post.image %}
      <div class="pbtthumbimg1">
        <img src="{{ post.image.url }}" class="img-responsive" />
      </div>
      {% endif %}
      {% if post.published_date %}
      <div class="entry-meta" style="padding-bottom:20px;">
        Posted by {{ post.author }} | {{ post.published_date}} | <a href="#"><span class="comment-count"></span> comments</a>
      </div>
      {% else %}
          <a class="btn btn-default" href="{% url 'post_publish' slug=post.slug %}">Publish</a>
      {% endif %}
      {{ post.text|safe }}<br><br>
      {% if user.is_authenticated %}
        <a class="btn btn-default btn-xs" href="{% url 'post_edit' slug=post.slug %}"><span class="glyphicon glyphicon-edit">edit</span></a>
        <a class="btn btn-default btn-xs" href="{% url 'post_remove' slug=post.slug %}"><span class="glyphicon glyphicon-remove">delete</span></a>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block comment %}

{% if post.published_date %}
    <div class="first-col col no-margin">
      <div class="container glyphicon-pos"></div><br>
            <div class="row">
              <div class="col-md-8">
                <div class='load-comments' data-url='{{ request.build_absolute_uri }}'></div>
              </div>
          </div>
      </div>
{% endif %}
{% endblock %}
